**.DS_Store
configs/
data/
output/
bcftools-1.18/
bin/
libexec/
share/
sratoolkit*
prefetch_tmp/
geckodriver
geckodriver.log
picard/
test_data/
test_output/
**.sh.swp
bedtools2/
SraRunTable.txt
.snakemake
dag.svg
