**.DS_Store
configs/
data/
output/
bcftools-1.18/
bin/
libexec/
share/
sratoolkit.3.0.7-mac64/
prefetch_tmp/
geckodriver
geckodriver.log
picard/
test_dir/
**.sh.swp
bedtools2/
SraRunTable.txt
.snakemake
dag.svg
